.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 19px;
  margin-left: 17px;
}

.fulldiv 
{
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  background-image: linear-gradient(to right, #F1F8FF 0%, #fbfbfb 100%);

}
.imgdiv{
  flex: 0;
}
.bckdiv{
  flex: 1;
  margin-left: 15px;
  position: absolute;
  top: 58px;
}
.fordiv{
  flex: 1;
  padding: 20px;
}
.btn-primary {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
  position: absolute;
  bottom: 15px;
  width: 90vw;
  background-image: linear-gradient(to right, #18b2d4 0%, #054092 100%)
}

  .imgcenter{
    position: absolute;
    top: 25%;
    left: 43%;
    margin-top: -50px;
    margin-left: -50px;
    width: 130px;
    height: 100px;
}

.cpydiv {
  position: absolute;
  top: 300px;
  width : 100%;
  right: 6px;
  padding-right: 40px;
  padding-left: 40px;
  
}
.form-group
{
  padding-right: 42px;

}
.circleBase {
  border-radius: 60%;
}
.type1 {
  width: 50px;
  height: 50px;
  background: white;
  float : left;
}
.upload
{
  padding-top: 25px;
  color : blue;
}
.rounded {
  width: 202px;
  height: 230px;
}